<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="start center">
    <fury-toolbar-sidenav-mobile-toggle (openSidenav)="openSidenav.emit()"></fury-toolbar-sidenav-mobile-toggle>
  </div>

  <div fxLayout="row" fxLayoutGap="24px">
    <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="24px">
      <div *ngIf="amountCurrencySilver">
        Silver: {{amountCurrencySilver}}
      </div>
      <div *ngIf="amountCurrencyGold">
        Gold: {{amountCurrencyGold}}
      </div>
      <div *ngIf="amountCurrencyAmount">
        $: {{amountCurrencyAmount}}
      </div>
      <div *ngIf="curentCurrencyRate">
        1 gold = {{curentCurrencyRate}}$
      </div>
    </div>
    <fury-toolbar-user class="toolbar-button"></fury-toolbar-user>
  </div>
</div>
