<fury-page-layout>

  <fury-page-layout-header>
    <fury-breadcrumbs [crumbs]="[{url: '/actions', caption: 'Акции'}]" current="Добавить акцию"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content>
    <fury-card>
      <fury-card-content>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Период отбора от</mat-label>
              <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()" [matDatepicker]="formDatepickerRef" matInput readonly>
              <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #formDatepickerRef></mat-datepicker>
          </div>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Период отбора до</mat-label>
              <input (click)="formDatepickerRefb.open()" (focus)="formDatepickerRefb.open()" [matDatepicker]="formDatepickerRefb" matInput readonly>
              <mat-datepicker-toggle [for]="formDatepickerRefb" matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #formDatepickerRefb></mat-datepicker>
          </div>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Название</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" style="margin-bottom: 24px;">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Выберите регион</mat-label>
              <mat-select>
                <mat-option value="Legend">Europe</mat-option>
                <mat-option value="Legend">Europe</mat-option>
                <mat-option value="Legend">Europe</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Выберите страну</mat-label>
              <mat-select>
                <mat-option value="Legend">ALL</mat-option>
                <mat-option value="Legend">ALL</mat-option>
                <mat-option value="Legend">ALL</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Тип акции</mat-label>
              <mat-select>
                <mat-option value="Legend">разовая</mat-option>
                <mat-option value="Legend">разовая</mat-option>
                <mat-option value="Legend">разовая</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Статус</mat-label>
              <mat-select>
                <mat-option value="Legend">active</mat-option>
                <mat-option value="Legend">active</mat-option>
                <mat-option value="Legend">active</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="24px" style="margin-bottom: 24px;">
          <div fxFlex="0 0 320px">
            <div class="image-holder">
              <mat-icon>add_photo_alternate</mat-icon>
            </div>
            <div align="center">
              <a href="">Загрузить картинку акции</a>
            </div>
          </div>
          <div fxFlex="1 1 0">
            <div style="margin-bottom: 24px;">
              <mat-form-field appearance="standard">
                <mat-label>Игра</mat-label>
                <mat-select>
                  <mat-option value="Legend">все</mat-option>
                  <mat-option value="Legend">все</mat-option>
                  <mat-option value="Legend">все</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="margin-bottom: 24px;">
              <mat-form-field appearance="standard">
                <mat-label>Условия</mat-label>
                <mat-select>
                  <mat-option value="Legend">Три победы подряд</mat-option>
                  <mat-option value="Legend">кол-во побед</mat-option>
                  <mat-option value="Legend">кол-во очков за игру</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="24px" style="margin-bottom: 24px;">
              <div>
                <mat-form-field appearance="standard">
                  <mat-label>Размер вознаграждения:</mat-label>
                  <input matInput type="text">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="standard">
                  <mat-select>
                    <mat-option value="Legend">Серебро</mat-option>
                    <mat-option value="Legend">Серебро</mat-option>
                    <mat-option value="Legend">Серебро</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
          <div>
            <button mat-raised-button color="accent">Добавить акцию</button>
          </div>
        </div>
      </fury-card-content>
    </fury-card>
  </fury-page-layout-content>
</fury-page-layout>
