<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <div>{{data ? 'Изменить' : 'Добавить'}} игровой режим</div>
  <button type="button" mat-icon-button (click)="close()" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div formGroupName="name">
      <mat-form-field appearance="standard" style="width: 100%">
        <mat-label>Введите название на русском языке</mat-label>
        <input type="text" matInput formControlName="ru">
      </mat-form-field>
      <mat-form-field appearance="standard" style="width: 100%">
        <mat-label>Введите название на аглийском языке</mat-label>
        <input type="text" matInput formControlName="en">
      </mat-form-field>
    </div>
    <div formGroupName="description">
      <mat-form-field appearance="standard" style="width: 100%">
        <mat-label>Введите описание на русском языке</mat-label>
        <input type="text" matInput formControlName="ru">
      </mat-form-field>
      <mat-form-field appearance="standard" style="width: 100%">
        <mat-label>Введите описание на аглийском языке</mat-label>
        <input type="text" matInput formControlName="en">
      </mat-form-field>
    </div>
    <mat-form-field appearance="standard" style="width: 100%">
      <mat-label>Тэг</mat-label>
      <input type="text" matInput formControlName="slug">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="accent" type="submit" (click)="submit()" [disabled]="form.invalid">Сохранить</button>
</mat-dialog-actions>
