<fury-page-layout>

  <fury-page-layout-header>
    <fury-breadcrumbs [crumbs]="[{url: '/gaming-accounts', caption: 'Игровые аккаунты'}]" current="Аккаунт {{gamingAccountId}}"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content class="padding-0">
    <mat-tab-group>

      <mat-tab label="Общая информация">
        <div class="padding">
          <fury-card>
            <fury-card-content>
              <div fxLayout="row" fxLayoutGap="24px">
                <div>
                  <div class="user-image">
                    <mat-icon>account_circle</mat-icon>
                    <img src="" alt="">
                  </div>
                </div>
                <div>
                  <table class="definitions-table">
                    <tr>
                      <th>ID</th>
                      <td>{{gamingAccountId}}</td>
                    </tr>
                    <tr>
                      <th>name</th>
                      <td>{{gamingAccount?.name}}</td>
                    </tr>
                    <tr>
                      <th>authorized</th>
                      <td>facebook</td>
                    </tr>
                    <tr>
                      <th>social_link</th>
                      <td>{{gamingAccount?.socialLink}}</td>
                    </tr>
                    <tr>
                      <th>email</th>
                      <td>{{gamingAccount?.email}}</td>
                    </tr>
                    <tr>
                      <th>exp points</th>
                      <td>{{gamingAccount?.expPoints}}</td>
                    </tr>
                    <tr>
                      <th>silver</th>
                      <td>{{gamingAccount?.silver}}</td>
                    </tr>
                    <tr>
                      <th>gold</th>
                      <td>{{gamingAccount?.gold}}</td>
                    </tr>
                    <tr>
                      <th>player status</th>
                      <td>{{gamingAccount?.expPointsDisplay}}</td>
                    </tr>
                    <tr>
                      <th>Last visit</th>
                      <td>{{gamingAccount?.lastVisit | date:"dd.MM.yyyy"}}</td>
                    </tr>
                    <tr>
                      <th>Last game</th>
                      <td>{{gamingAccount?.lastVisit | date:"dd.MM.yyyy"}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </fury-card-content>

            <fury-card-actions>
              <button mat-raised-button color="accent" (click)="openGoldDialog(true)">Добавить золото</button>
              <button mat-raised-button color="warn" (click)="openGoldDialog(false)">Отнять золото</button>
            </fury-card-actions>
          </fury-card>
        </div>
      </mat-tab>

      <mat-tab label="Рейтинг">
        <div class="padding">
          <fury-gaming-account-ratings></fury-gaming-account-ratings>
        </div>
      </mat-tab>

      <mat-tab label="Финансы">
        <div class="padding">
          <fury-gaming-account-financials-operations></fury-gaming-account-financials-operations>
        </div>
      </mat-tab>

      <mat-tab label="Игры">
        <div class="padding">
          <fury-gaming-account-games-history></fury-gaming-account-games-history>
        </div>
      </mat-tab>

    </mat-tab-group>
  </fury-page-layout-content>

</fury-page-layout>
