<fury-card>
  <fury-card-content>
    <div gdColumns="repeat(4, 1fr)" gdGap="24px">
      <div>
        <h3>Общий рейтинг</h3>
        <table class="definitions-table">
          <tr>
            <th>exp points</th>
            <td>{{gamingAccount.expPoints}}</td>
          </tr>
          <tr>
            <th>место</th>
            <td></td>
          </tr>
          <tr>
            <th>сыграно игр</th>
            <td>{{gamingAccount.playedGamesCount}}</td>
          </tr>
          <tr>
            <th>поражений</th>
            <td>{{gamingAccount.gamesLost}}</td>
          </tr>
          <tr>
            <th>побед</th>
            <td>{{gamingAccount.gamesWon}}</td>
          </tr>
        </table>
      </div>
    </div>
<!--    <div gdColumns="repeat(4, 1fr)" gdGap="24px">-->
<!--      <div>-->
<!--        <h3>Общий рейтинг</h3>-->
<!--        <table class="definitions-table">-->
<!--          <tr>-->
<!--            <th>exp points</th>-->
<!--            <td>3680</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>место</th>-->
<!--            <td>18</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>сыграно игр</th>-->
<!--            <td>214</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>поражений</th>-->
<!--            <td>70</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>побед</th>-->
<!--            <td>144</td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </div>-->
<!--      <div>-->
<!--        <h3>Общий рейтинг</h3>-->
<!--        <table class="definitions-table">-->
<!--          <tr>-->
<!--            <th>exp points</th>-->
<!--            <td>3680</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>место</th>-->
<!--            <td>18</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>сыграно игр</th>-->
<!--            <td>214</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>поражений</th>-->
<!--            <td>70</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>побед</th>-->
<!--            <td>144</td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </div>-->
<!--      <div>-->
<!--        <h3>Общий рейтинг</h3>-->
<!--        <table class="definitions-table">-->
<!--          <tr>-->
<!--            <th>exp points</th>-->
<!--            <td>3680</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>место</th>-->
<!--            <td>18</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>сыграно игр</th>-->
<!--            <td>214</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>поражений</th>-->
<!--            <td>70</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>побед</th>-->
<!--            <td>144</td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </div>-->
<!--      <div>-->
<!--        <h3>Общий рейтинг</h3>-->
<!--        <table class="definitions-table">-->
<!--          <tr>-->
<!--            <th>exp points</th>-->
<!--            <td>3680</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>место</th>-->
<!--            <td>18</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>сыграно игр</th>-->
<!--            <td>214</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>поражений</th>-->
<!--            <td>70</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>побед</th>-->
<!--            <td>144</td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
  </fury-card-content>
</fury-card>
