
<fury-page-layout>

  <fury-page-layout-header>
    <fury-breadcrumbs [crumbs]="['Игровые аккаунты']" current="Аккаунт ID0000001"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content class="padding-0">
    <mat-tab-group>

      <mat-tab label="Общая информация">
        <div class="padding">
          <div fxLayout="row" fxLayoutGap="24px">
            <div>
              <div class="user-image">
                <img src="" alt="">
              </div>
            </div>
            <div>
              <table class="definitions-table">
                <tr>
                  <th>ID</th>
                  <td>0000001</td>
                </tr>
                <tr>
                  <th>name</th>
                  <td>Вячеслав</td>
                </tr>
                <tr>
                  <th>authorized</th>
                  <td>facebook</td>
                </tr>
                <tr>
                  <th>social_link</th>
                  <td>/facebook.com/vyacheslav_009</td>
                </tr>
                <tr>
                  <th>email</th>
                  <td>vyacheslav_009@kdfjskf.com</td>
                </tr>
                <tr>
                  <th>exp points</th>
                  <td>3680</td>
                </tr>
                <tr>
                  <th>silver</th>
                  <td>545450</td>
                </tr>
                <tr>
                  <th>gold</th>
                  <td>24540</td>
                </tr>
                <tr>
                  <th>player status</th>
                  <td>Legend</td>
                </tr>
                <tr>
                  <th>Last visit</th>
                  <td>04.05.2019</td>
                </tr>
                <tr>
                  <th>Last game</th>
                  <td>04.05.2019</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Рейтинг">
        <div class="padding">
          <h3>Общий рейтинг</h3>
          <table class="definitions-table">
            <tr>
              <th>exp points</th>
              <td>3680</td>
            </tr>
            <tr>
              <th>место</th>
              <td>18</td>
            </tr>
            <tr>
              <th>сыграно игр</th>
              <td>214</td>
            </tr>
            <tr>
              <th>поражений</th>
              <td>70</td>
            </tr>
            <tr>
              <th>побед</th>
              <td>144</td>
            </tr>
          </table>
          <div gdColumns="repeat(4, 1fr)" gdGap="24px">
            <div>
              <h3>Общий рейтинг</h3>
              <table class="definitions-table">
                <tr>
                  <th>exp points</th>
                  <td>3680</td>
                </tr>
                <tr>
                  <th>место</th>
                  <td>18</td>
                </tr>
                <tr>
                  <th>сыграно игр</th>
                  <td>214</td>
                </tr>
                <tr>
                  <th>поражений</th>
                  <td>70</td>
                </tr>
                <tr>
                  <th>побед</th>
                  <td>144</td>
                </tr>
              </table>
            </div>
            <div>
              <h3>Общий рейтинг</h3>
              <table class="definitions-table">
                <tr>
                  <th>exp points</th>
                  <td>3680</td>
                </tr>
                <tr>
                  <th>место</th>
                  <td>18</td>
                </tr>
                <tr>
                  <th>сыграно игр</th>
                  <td>214</td>
                </tr>
                <tr>
                  <th>поражений</th>
                  <td>70</td>
                </tr>
                <tr>
                  <th>побед</th>
                  <td>144</td>
                </tr>
              </table>
            </div>
            <div>
              <h3>Общий рейтинг</h3>
              <table class="definitions-table">
                <tr>
                  <th>exp points</th>
                  <td>3680</td>
                </tr>
                <tr>
                  <th>место</th>
                  <td>18</td>
                </tr>
                <tr>
                  <th>сыграно игр</th>
                  <td>214</td>
                </tr>
                <tr>
                  <th>поражений</th>
                  <td>70</td>
                </tr>
                <tr>
                  <th>побед</th>
                  <td>144</td>
                </tr>
              </table>
            </div>
            <div>
              <h3>Общий рейтинг</h3>
              <table class="definitions-table">
                <tr>
                  <th>exp points</th>
                  <td>3680</td>
                </tr>
                <tr>
                  <th>место</th>
                  <td>18</td>
                </tr>
                <tr>
                  <th>сыграно игр</th>
                  <td>214</td>
                </tr>
                <tr>
                  <th>поражений</th>
                  <td>70</td>
                </tr>
                <tr>
                  <th>побед</th>
                  <td>144</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Финансы">
        <div class="padding">
        </div>
      </mat-tab>

      <mat-tab label="Игры">
        <div class="padding">
        </div>
      </mat-tab>

    </mat-tab-group>
  </fury-page-layout-content>

</fury-page-layout>
