.user-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: whitesmoke;
  position: relative;
  mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    font-size: 100px;
    color: #e0e0e0;
  }
}
