.user-image {
  background-color: #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.definitions-table {
  th {
    text-align: right;
    padding-right: 8px;
  }
  td {
    padding-left: 8px;
  }
}
