<fury-page-layout>

  <fury-page-layout-header>
    <fury-breadcrumbs current="Акции"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Период отбора от</mat-label>
          <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()" [matDatepicker]="formDatepickerRef" matInput readonly>
          <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
        </mat-form-field>
        <mat-datepicker #formDatepickerRef></mat-datepicker>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Период отбора до</mat-label>
          <input (click)="formDatepickerRefb.open()" (focus)="formDatepickerRefb.open()" [matDatepicker]="formDatepickerRefb" matInput readonly>
          <mat-datepicker-toggle [for]="formDatepickerRefb" matSuffix></mat-datepicker-toggle>
        </mat-form-field>
        <mat-datepicker #formDatepickerRefb></mat-datepicker>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Поиск</mat-label>
          <input matInput type="search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" style="margin-bottom: 24px;">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Выберите регион</mat-label>
          <mat-select>
            <mat-option value="Legend">Europe</mat-option>
            <mat-option value="Legend">Europe</mat-option>
            <mat-option value="Legend">Europe</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Выберите страну</mat-label>
          <mat-select>
            <mat-option value="Legend">ALL</mat-option>
            <mat-option value="Legend">ALL</mat-option>
            <mat-option value="Legend">ALL</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Тип акции</mat-label>
          <mat-select>
            <mat-option value="Legend">разовая</mat-option>
            <mat-option value="Legend">разовая</mat-option>
            <mat-option value="Legend">разовая</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Статус</mat-label>
          <mat-select>
            <mat-option value="Legend">active</mat-option>
            <mat-option value="Legend">active</mat-option>
            <mat-option value="Legend">active</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary">Применить</button>
      </div>
      <div>
        <button mat-raised-button>Сбросить</button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" style="margin-bottom: 24px;">
      <div>
        <button mat-raised-button color="accent" (click)="addAction()">Добавить акцию</button>
      </div>
    </div>

    <fury-list hideHeader="true" [columns]="columns" (filterChange)="onFilterChange($event)">

      <table [dataSource]="dataSource" mat-table matSort>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements" mat-row></tr>

        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
            <td *matCellDef="let row" mat-cell>
              <img *ngIf="column.name == 'image'" src="https://api.braimon.pre.luxystech.com{{ row[column.property] }}" style="display: block; max-height: 24px" alt="">
              <span *ngIf="column.name != 'image'">{{ column.name == "Date to" ? (row[column.property] | date:"dd.MM.yyyy") : row[column.property] }}</span>
            </td>
          </ng-container>
        </ng-container>

      </table>

      <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>

    </fury-list>

  </fury-page-layout-content>

</fury-page-layout>
